@import "component/_variables.scss";
@import "component/_fonts.scss";
@import "component/_globalClasses.scss";
@import "component/_buttons.scss";
@import "main_component/_navbar.scss";

// find jop 
.find-jop 
{
    background-color:$mainBlue;
    position:relative;
    top:-95px;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    border-radius:0 0 0 50px;
    padding-bottom:220px;
    padding-top:100px;
    h2 
    {
        text-align : center;
        color:white;
        text-transform:capitalize;
        font-size:3rem;
        margin:50px 0 50px ;
    }
@import "main_component/find_jop-middle.scss";

}
/*-------------------------------------------*/
// available jops 
.available-jop 
{
    margin:50px 0;
    .container 
    {
        .aj-info 
        {
            margin-bottom:40px;
            h2 
            {
                font-size:2.5rem;
                text-transform:capitalize;
                text-align:left;
                font-weight:bold;
            }
            p 
            {
                color:$darkGray;
            }
        }
        .aj-categories 
        {
            display:flex;
            .left-part 
            {
                width:25%;
                margin-right:3%;
                @media only screen and (max-width:414px)
                {
                    width:30%;
                    margin-right:1%;
                }
                .nice-select 
                {
                    margin-bottom:10px;
                    .list 
                    {
                        width:100%;
                    }
                }
            }
            .right-part 
            {
                width:72%;
                @media only screen and (max-width:414px)
                {
                    width:69%;
                    
                }
                .card 
                {
                    width:49%;
                    float:left;
                    margin-bottom:15px;
                    padding:40px;
                    position: relative;
                    @media only screen and (max-width:414px)
                    {
                        width:100%;
                        padding:20px;
                    }
                    &:nth-child(odd)
                    {
                        margin-right:2%;
                    }
                    .remote-span 
                    {
                        position: absolute;
                        top:30px;
                        right:30px;
                        background-color:rgba(241, 64, 64, 0.192);
                        border-radius:15px;
                        padding:2px 7px;
                        color:rgba(202, 74, 0, 0.788);
                        text-transform:capitalize;
                    }
                    img 
                    {
                        margin-right:auto;
                        margin-bottom:15px;
                    }
                    h2 
                    {
                        text-transform:capitalize;
                        font-size:25px;
                        margin:15px 0;
                    }
                    p 
                    {
                        color:$darkGray;
                        margin:5px 0;
                    }
                    .left-right-btn
                    {
                        width:150px;
                        text-align:center;
                        margin:20px 0;     
                    }
                }
                .paggination 
                {
                    margin:50px 0;
                    span 
                    {
                        display:inline-block;
                        width:45px;
                        height:45px;
                        text-align:center;
                        line-height:45px;
                        border:1px solid $lightGray;
                        text-align:center;
                        @media only screen and (max-width:375px)
                        {
                            width:35px;
                            height:35px;
                            line-height: 35px;
                        }
                        a 
                        {
                            color:$darkGray;
                            font-size:20px;
                        }
                        &:hover 
                        {
                            a 
                            {
                                text-decoration:none;
                            }
                        }
                        
                        &.active 
                        {
                            background-color:$mainBlue;
                            a
                            {
                                color:white;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*----------------------------------------------------------------*/ 
// blue green cards 
@import "main_component/two-cards-gb";

.two-cards 
{
    margin:40px 0;
}
/*------------------------------------------------------------------*/ 
// testimonials 
@import "main_component/testimonials_part";
.testimonials 
{
    .row 
    {
        margin-right:0;
        .test-img 
        {
            margin-right:0;
            padding-right:0;
        }
    }
}
/*---------------------------------------------------------*/    
//start finding
@import "main_component/start_finding";
/*-----------------------------------------------------------*/ 
//footer 
@import "main_component/footer.scss";
