@import "../component/variables";
@import "../component/fonts";
@import "../component/globalClasses";
.navbar 
{
    background-color:transparent;
    padding:20px 10px;
    transition:.5s;
    z-index:555;
    @media only screen and (max-width:768px)
    {
        background-color:$mainBlue;
    }
    .navbar-brand 
    {
        margin:0 20px;
    }
    .navbar-collapse 
    {
        justify-content: end;
        ul 
        {
            justify-content: space-between;
            width:400px;
            .nav-item 
            {
                height:100%;
                ul 
                {
                    display:none;
                    list-style:none;
                    position: absolute;
                    z-index:55;
                    top:70px;
                    margin-left:-70px;
                    @media only screen and (max-width:768px)
                    {
                        margin-left:27px;
                        top:170px;
                    }
                    .nav-item 
                    {
                        background-color:$secondBlue;
                        width:200px;
                    }    
                }
                &:hover 
                {
                    ul 
                    {
                        display:block;
                    }
                }
                .nav-link 
                {
                    color:white;
                    font-size:20px;
                    &:hover 
                    {
                        text-decoration:underline;
                    }
                    &.active 
                    {
                        color:green;
                    }
                }
            }
        }
        .top-right-btn 
        {
            margin: 0 25px 0 82px;
          
            span 
            {
                position: relative;
                z-index:5;
            }
            
        }
    }
    &.mince-top 
    {
        position:relative;
        top:-100%;
    }
    &.positive-top 
    {
        background-color:$secondBlue;
        position:fixed;
        top:0;
        width:100%;

    }
}
