@import "../component/variables";

.want-hire
{
    .row 
    {
        .left-part 
        {
            background:url("../images/about.png");
            width:100%;
            height:500px;
            background-position:50% 18%;;
            position: relative;
            .lp-content 
            {
                position: absolute;
                background-color:white;
                border-radius:15px;
                bottom:15px;
                right:35px;
                text-align:center;
                padding:30px ;
                span 
                {
                    color:$mainGreen;
                    font-weight:bold;
                    font-size:35px;
                }
                p 
                {
                    color:$darkGray;
                    text-transform:capitalize;
                }
            }
        }
        .right-part
        {
            padding:50px;
            @media only screen and (max-width:768px)
            {
                padding:30px;
                padding-top:0;
            }
            h3 
            {
                font-size:3rem;
                margin:40px 0;
                text-transform:capitalize;
                @media only screen and (max-width:768px)
                {
                    margin-top:0;
                    margin-bottom:20px;
                }
            }
            p 
            {
                line-height:1.9rem;
                font-size:18px;
                color:$darkGray;
            }
            
        }
    }
}